﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BANORTE.aspx.cs" Inherits="_Default"  Async="true"%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <asp:Timer runat="server" ID="Timer1" Interval="1" Enabled="false" ontick="Timer1_Tick" />
            <asp:UpdatePanel ID="update1" runat="server" UpdateMode="Always">
                <Triggers>
                    <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
                </Triggers>
                <ContentTemplate>
                   <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
                    <br />
                    <asp:TextBox ID="TextBox1" runat="server" Height="250px" TextMode="MultiLine" Width="800px"></asp:TextBox>     
                    <br />
                    <asp:Label ID="lbl1" runat="server"></asp:Label><br />
                    <asp:Label ID="Label1" runat="server" Width="1px" BackColor="Blue"></asp:Label>
                    <asp:Label ID="Label2" runat="server" ></asp:Label>
                </ContentTemplate>
            </asp:UpdatePanel>
        </div>
    </form>
</body>
</html>
