﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DES.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label2" runat="server" Text="Label" >Inserta el valor del numero x</asp:Label><br />
            <asp:TextBox ID="TextBox1" runat="server" ></asp:TextBox>
            <br />
            <asp:Label ID="Label1" runat="server" Text="Label" >Inserta el valor de B del exponente</asp:Label><br />
            <asp:TextBox ID="TextBox2" runat="server" ></asp:TextBox>            <br />
            <asp:Label ID="Label3" runat="server" Text="Label" >Inserta el valor de N del modulo</asp:Label><br />
            <asp:TextBox ID="TextBox3" runat="server" ></asp:TextBox>
        </div>
        <br />
        <asp:Label ID="Label4" runat="server" Text="Label" >info 1</asp:Label><br />
        <asp:Label ID="Label5" runat="server" Text="Label" >info 2</asp:Label><br />
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" />
    </form>
</body>
</html>
