﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GNP.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
         <asp:Label ID="Label1" runat="server" Text="Status Consulta"></asp:Label>
         <br />
         <br />
         <asp:Label ID="Label2" runat="server" Text="Status Almacenado"></asp:Label>
        <br />
        <br />
        <asp:Button ID="Button2" runat="server" Text="Button" OnClick="Button2_Click" />


    </form>
     
</body>
</html>

